.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
**/.DS_Store
multiverse-objects/1-multiverse-datasets/*Rdata
multiverse-objects/2-primary-analyses/*Rdata
multiverse-objects/3-secondary-analyses/**/*Rdata
manuscript/resources/
manuscript/manuscript_files/
manuscript/manuscript.log
manuscript/manuscript.tex
manuscript/staged-objects.Rdata
supplement/supplement.tex
supplement/supplement_files/
supplement/staged-objects.Rdata
figures/primary/*pdf
figures/secondary/**/*pdf
