.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
**/.DS_Store
multiverse-objects/1-multiverse-datasets/*Rdata
multiverse-objects/2-primary-analyses/*Rdata
multiverse-objects/3-secondary-analyses/**/*Rdata
figures/primary/*pdf
figures/secondary/**/*pdf